<!doctype html>
<html lang="en">

<head>
<title>Eloísa</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Eloisa Punto de Venta">

<link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo.ico">
{{!-- <script src="/assets/js/all.js"></script>   --}}
<script src="/assets/vendor/font-awesome/all.min.js"></script>  
<link rel="stylesheet" href="/assets/vendor/font-awesome/all.min.css">

<link rel="stylesheet" href="/assets/css/style.css">

<!-- VENDOR CSS -->
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/vendor/toastr/toastr.min.css">

<link rel="stylesheet" href="/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/sweetalert/sweetalert.css"/>
<link rel="stylesheet" href="/assets/css/switchery.css" />


<!-- MAIN CSS -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/color_skins.css">

<script src="/assets/js/jquery-3.4.1.min.js"></script>  
<script src="/assets/js/tableHTMLExport.js"></script>  
<script src="/assets/js/jspdf.min.js"></script>  
<script src="/assets/js/jspdf.plugin.autotable.min.js"></script>  

<script src="/assets/js/common.js"></script>
<script src="/assets/vendor/fullcalendar/moment.min.js"></script>

<script src="/assets/js/switchery.js"></script>
<style>
.card .body{font-size: 15px;}
.main_features li{ line-height: 35px;}
.main_features li.divider{
    border-bottom: 1px solid #ececec;
    margin: 10px 0;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    color: #ff0000;
    padding-top: 15px;
}

</style>
</head>
<body class="theme-cyan">

<!-- Page Loader -->

<!-- Overlay For Sidebars -->

<div id="wrapper">
    {{>navigation}}

    {{{ body }}}



<!-- Javascript -->


<script src="/assets/bundles/libscripts.bundle.js"></script>    
<script src="/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/assets/vendor/toastr/toastr.js"></script>

<script src="/assets/bundles/datatablescripts.bundle.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/pdfmake.min.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/vfs_fonts.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>


<script src="/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 


</body>
</html>